# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
dateutil=2.1=py27_2
flask=0.10.1=py27_1
ipython=2.3.1=py27_0
itsdangerous=0.24=py27_0
jinja2=2.7.3=py27_1
libsodium=0.4.5=0
markupsafe=0.23=py27_0
numpy=1.9.1=py27_0
openssl=1.0.1k=1
pandas=0.15.1=np19py27_0
pip=1.5.6=py27_0
python=2.7.10=0
python.app=1.2=py27_3
pytz=2014.9=py27_0
pyzmq=14.4.1=py27_0
readline=6.2=2
requests>=2.20.0
scikit-learn=0.16.1=np19py27_0
scipy=0.14.0=np19py27_0
setuptools=17.1.1=py27_0
six=1.8.0=py27_0
sqlite=3.8.4.1=1
ssl_match_hostname=3.4.0.2=py27_0
tk=8.5.18=0
tornado=4.0.2=py27_0
werkzeug=0.10.4=py27_0
zeromq=4.0.4=0
zlib=1.2.8=0
